{% extends "base.html" %}
{% load url from future %}
{% load django_bootstrap_breadcrumbs %}

{% block content_title %}
    <h2>Search</h2>
{% endblock content_title %}

{% block breadcrumbs %}

    {{ block.super }}
    {% breadcrumb "Search" "search" %}

    {% if request.POST.search_query %}
        {% breadcrumb request.POST.search_query "" %}
    {% endif %}

{% endblock %}

{% block content %}
    <form action="/search/results" method="post" class="form-inline" role="form">{% csrf_token %}
        <div class="row">
            <div class="col-lg-5">
                <div class="input-group">
                  <input id="search_query" name="search_query" class="form-control" value="{{ request.POST.search_query }}"
                       type="text" placeholder="Type your query">
                  <span class="input-group-btn">
                    <button class="btn btn-info" value="Search"><i class="fa fa-search"></i> Search</button>
                  </span>
                </div><!-- /input-group -->
                <div class="input-group">
                  <div class="radio">
                  <label style="margin-right: 10px;">
                    <input type="radio" name="searchFilter" id="searchFilterAll" value="all" {% if query_filter == 'all' %}checked{% endif %}>All
                  </label>
                {% if accs.facebook %}
                  <label style="margin-right: 10px;">
                      <input type="radio" name="searchFilter" id="searchFilterFacebook" value="facebook" {% if query_filter == 'facebook' %}checked{% endif %}><i class="fa fa-facebook-square"></i> Facebook
                  </label>
                {% endif %}
                {% if accs.google %}
                  <label style="margin-right: 10px;">
                      <input type="radio" name="searchFilter" id="searchFilterGoogle" value="google" {% if query_filter == 'google' %}checked{% endif %}><i class="fa fa-google-plus-square"></i> Google
                  </label>
                 {% endif %}
                 {% if accs.twitter %}
                  <label style="margin-right: 10px;">
                      <input type="radio" name="searchFilter" id="searchFilterTwitter" value="twitter" {% if query_filter == 'twitter' %}checked{% endif %}><i class="fa fa-twitter-square"></i> Twitter
                  </label>
                 {% endif %}
                  {% if accs.rss %}
                  <label style="margin-right: 10px;">
                      <input type="radio" name="searchFilter" id="searchFilterRss" value="rss" {% if query_filter == 'rss' %}checked{% endif %}><i class="fa fa-rss-square"></i> Rss
                  </label>
                 {% endif %}
                </div>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->

        </div>
    </form>

    {% if results %}
        <h3><u>Results</u> ({{ results|length }})</h3>
        {% if results %}
            <div class="row">
            <div class="col-lg-10">
                <table class="table table-bordered">
                <thead>
                    <tr class="active"><th class="text-center">Content</th><th class="text-center">Account</th><th class="text-center">Created time</th><th class="text-center">Image</th></tr>
                </thead>
                {% for result in results %}
                    <tr>
                        <td style="vertical-align:middle;">
                            {% if result.url %}
                                <a href="{{ result.url }}" target="_blank">{{ result.content }}</a></td>
                            {% else %}
                                {{ result.content }}
                            {%  endif %}
                        <td style="vertical-align:middle;" class="text-center">
                            {% if result.account == 'facebook' %}
                                <i class="fa fa-facebook-square"></i>
                            {%  endif %}
                            {% if result.account == 'google' %}
                                <i class="fa fa-google-plus-square"></i>
                            {%  endif %}
                            {% if result.account == 'twitter' %}
                                <i class="fa fa-twitter-square"></i>
                            {%  endif %}
                            {% if result.account == 'rss' %}
                                <i class="fa fa-rss-square"></i>
                            {%  endif %}
                        </td>
                        <td style="vertical-align:middle;" class="text-center">{{ result.created_time }}</td>
                        <td style="vertical-align:middle;" class="text-center">
                            {% if result.image %}
                                  <img src="{{ result.image }}" alt="{{ result.content }}" class="img-rounded" height="50px">
                            {%  endif %}
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
            <div class="col-lg-2">
                <div class="panel panel-warning">
                  <div class="panel-heading text-center">More like this</div>
                  <div class="panel-body">
                    <ul>
                        <li><a href="#">Suggestion 1</a></li>
                        <li><a href="#">Suggestion 2</a></li>
                        <li><a href="#">Suggestion 3</a></li>
                        <li><a href="#">Suggestion 4</a></li>
                    </ul>
                  </div>
                </div>

            </div>
            </div>
        {% else %}
            <p><span class="alert alert-warning">No results found for <b>{{ request.POST.search_query }}</b>!</span></p>
        {% endif %}
    {% endif %}

{% endblock %}

{% block scriptextra %}

    $('#menu_search').addClass('active');

{% endblock scriptextra %}