/* Custom css */

.footer_custom {
  /*position:fixed;*/
    margin: 20px 20px;
    padding: 10px;
    border: 0;
    border-top: 1px solid #eeeeee;
    bottom:0;
    max-width: 100%;
    min-width: 70%;
}

.breadcrumb > li + li:before {
    content: " ";
    padding: 0 0px;
}


