{% extends "base.html" %}
{% load url from future %}
{% load django_bootstrap_breadcrumbs %}

{% block content_title %}
    <h2>Profiles</h2>
{% endblock content_title %}

{% block breadcrumbs %}

    {{ block.super }}
    {% breadcrumb "Profiles" "profiles" %}

{% endblock %}

{% block content %}

    <div class="row">
        <div class="alert alert-warning col-md-5">Under construction!</div>
    </div>

{% endblock %}

{% block scriptextra %}

    $('#menu_profiles').addClass('active');

{% endblock scriptextra %}