{% extends "base.html" %}
{% load url from future %}
{% load django_bootstrap_breadcrumbs %}

{% block content_title %}
    <h2>Data collector</h2>
{% endblock content_title %}

{% block breadcrumbs %}

        {{ block.super }}
        {% breadcrumb "Collect" "collect" %}

{% endblock %}

{% block content %}
    {% if message %}
    <div class="row col-lg-12">
        {% if message == 'success'%}
        <div class="col-lg-6 alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong><i class="fa fa-smile-o"></i> Success!</strong> Data collected with success.
        </div>
        {% endif %}
        {% if message == 'error'%}
            <div class="col-lg-6 alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong><i class="fa fa-frown-o"></i> Error!</strong> An error occurred. Please, try later.
        </div>
        {% endif %}
    </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr class="active">
{#                      <th>Profile</th>#}
                        <th>Account</th>
                        <th>Last updated</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                 {% if not accs  %}
                     <tr>
                        <td colspan="3" class="text-center  alert alert-warning"><i class="fa fa-frown-o"></i> You don't have any account associated! Please, go to accounts!</td>

                    </tr>
                 {% else %}
                    {% if accs.facebook  %}
                        <tr>
                            <td><i class="fa fa-facebook-square"></i> Facebook</td>
                            <td>{{ last_date.facebook }}</td>
                            <td><a href="/collect/get-data/1" class="btn btn-info"><i class="fa fa-archive"></i> Collect</a></td>
                        </tr>
                    {% endif %}
                    {% if accs.google  %}
                        <tr>
                            <td><i class="fa fa-google-plus-square"></i> Google</td>
                            <td>{{ last_date.google }}</td>
                            <td><a href="/collect/get-data/2" class="btn btn-info"><i class="fa fa-archive"></i> Collect</a></td>
                        </tr>
                    {% endif %}
                    {% if accs.twitter  %}
                        <tr>
                            <td><i class="fa fa-twitter-square"></i> Twitter</td>
                            <td>{{ last_date.twitter }}</td>
                            <td><a href="/collect/get-data/3" class="btn btn-info"><i class="fa fa-archive"></i> Collect</a></td>
                        </tr>
                    {% endif %}
                    {% if accs.rss  %}
                        <tr>
                            <td><i class="fa fa-rss-square"></i> RSS</td>
                            <td>{{ last_date.rss }}</td>
                            <td><a href="/collect/get-data/4" class="btn btn-info"><i class="fa fa-archive"></i> Collect</a></td>
                        </tr>
                    {% endif %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% if debug %}
        <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Debug</h3>
  </div>
  <div class="panel-body">
    <b>User:</b> {{ user }}<br /><br />
        <b>Content:</b> {{ content.data }}
  </div>
</div>
    {% endif %}



{% endblock content %}

{% block scriptextra %}

    $('#menu_collect').addClass('active');

{% endblock scriptextra %}