{% load url from future %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> {% block title %}My Feeds{% endblock title %}</title>
    <meta name="description" content="Bets with friends of everything">
    <meta name="viewport" content="width=device-width">
{#     <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">#}
{#    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-theme.min.css" %}">#}
    <link rel="stylesheet" href="{% static "sb-admin/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "sb-admin/css/sb-admin.css" %}">
    <link rel="stylesheet" href="{% static "sb-admin/font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">

    {% block headextra %}{% endblock headextra %}

    </head>

    <body>


<div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/myfeeds">My Feeds Engine</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li id="menu_dashboard"><a href="/myfeeds"><i class="fa fa-desktop"></i> Dashboard</a></li>
            <li id="menu_accounts"><a href="/accounts"><i class="fa fa-group"></i> Accounts</a></li>
            <li id="menu_collect"><a href="/collect"><i class="fa fa-table"></i> Collect</a></li>
            <li id="menu_profiles"><a href="/profiles"><i class="fa fa-tags"></i> Profiles</a></li>
            <li id="menu_search"><a href="/search"><i class="fa fa-search"></i> Search</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown messages-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="badge">0</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">0 New Messages</li>
{#                <li class="message-preview">#}
{#                  <a href="#">#}
{#                    <span class="avatar"><img src="http://placehold.it/50x50"></span>#}
{#                    <span class="name">John Smith:</span>#}
{#                    <span class="message">Hey there, I wanted to ask you something...</span>#}
{#                    <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>#}
{#                  </a>#}
{#                </li>#}
{#                <li class="divider"></li>#}
{#                <li class="message-preview">#}
{#                  <a href="#">#}
{#                    <span class="avatar"><img src="http://placehold.it/50x50"></span>#}
{#                    <span class="name">John Smith:</span>#}
{#                    <span class="message">Hey there, I wanted to ask you something...</span>#}
{#                    <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>#}
{#                  </a>#}
{#                </li>#}
{#                <li class="divider"></li>#}
{#                <li class="message-preview">#}
{#                  <a href="#">#}
{#                    <span class="avatar"><img src="http://placehold.it/50x50"></span>#}
{#                    <span class="name">John Smith:</span>#}
{#                    <span class="message">Hey there, I wanted to ask you something...</span>#}
{#                    <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>#}
{#                  </a>#}
{#                </li>#}
{#                <li class="divider"></li>#}
{#                <li><a href="#">View Inbox <span class="badge">7</span></a></li>#}
              </ul>
            </li>
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
                  {% if user.first_name and user.last_name %}{{ user.get_full_name }}
                  {% else %}{{ user }}{% endif %} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/profile"><i class="fa fa-user"></i> Profile</a></li>
                <li class="divider"></li>
                <li><a href="/accounts/logout"><i class="fa fa-power-off"></i> Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div id="page-wrapper">
        <div class="row">
            {% block content_title %}{% endblock content_title %}
        </div>
        {% if breadcrumb %}
            <div class="row">
         {% block breadcrumbs %}
                {% breadcrumb_safe '<i class="fa fa-home"></i> My Feeds' "home" %}
         {% endblock breadcrumbs %}
            <div class="pull-left">
            {% render_breadcrumbs %}
            </div>
         </div>
        {% endif %}

        {% block content %}{% endblock content %}
        </div><!-- /#page-wrapper -->


        {% block footer %}

            <div class="footer_custom">
                    <div class="col-md-5">
                        <ul class="pull-left list-inline list-unstyled">
                            <li id="li_contacts"><a href="/project">Project</a></li><span class="text-muted">|</span>
                            <li id="li_contacts"><a href="/team">Team</a></li><span class="text-muted">|</span>
                            <li id="li_admin"><a href="/admin" target="_blank">Admin</a></li>
                        </ul>
                    </div>
                    <div class="col-md-7">
                        <p class="pull-right text-muted credit">MyFeedsEngine &copy; 2013 | Powered by <a href="mailto:jpmartins@ua.pt">JMartins</a> & <a href="mailto:ruidamendes@ua.pt">RMendes</a></p>
                    </div>
            </div>
            {% endblock footer %}
    </div><div>



<!-- Modal Loading Image-->
<div id="loadingImage" class="modal">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-body">
                <br />
                <p style="text-align: center">
                    <img src="{% static "images/ajax-loader.gif" %}" alt="Loading..." />
                    <br />Loading...
                </p>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->

<!-- Modal Error message-->
<div id="errorModal" class="modal">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Status message</h4>
              </div>
            <div class="modal-body">
                <div id="errorContentModal" class="text-center alert alert-danger"></div>
            </div>
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
{#                </div>#}
        </div>
    </div>
</div>
<!-- /.modal -->

<!-- Modal Success message-->
<div id="successModal" class="modal">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Status message</h4>
              </div>
            <div class="modal-body">
                <div id="successContentModal" class="text-center alert alert-success"></div>
            </div>
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
{#                </div>#}
        </div>
    </div>
</div>
<!-- /.modal -->
{% block scriptextraincludes %}

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static "js/jquery-1.10.2.min.js" %}"></script>
{#    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>#}
    <script type="text/javascript" src="{% static "sb-admin/js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "js/search.js" %}"></script>
    <script type="text/javascript" src="{% static "js/scripts.js" %}"></script>

{% endblock scriptextraincludes %}

<script type="text/javascript">

 {% block scriptextra %}{% endblock scriptextra %}

</script>
{% block htmlextra %}
{% endblock htmlextra %}
</body>
</html>