{% extends "base.html" %}
{% load url from future %}
{% load django_bootstrap_breadcrumbs %}

{% block content_title %}
    <h2>Dashboard</h2>
{% endblock content_title %}

{% block breadcrumbs %}

    {{ block.super }}
    {% breadcrumb "Dashboard" "home" %}

{% endblock %}

{% block content %}

    <div class="row">
        <div class="alert alert-success col-md-9 text-center">Welcome to My Feeds Engine Dashboard!</div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa fa-group fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p class="announcement-heading">{{ accs.count_accounts }}</p>

                            <p class="announcement-text">Account(s) associated!</p>
                        </div>
                    </div>
                </div>
                <a href="/accounts">
                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6">
                                View accounts
                            </div>
                            <div class="col-xs-6 text-right">
                                <i class="fa fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa fa-tags fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p class="announcement-heading">0</p>

                            <p class="announcement-text">Profiles created!</p>
                        </div>
                    </div>
                </div>
                <a href="/profiles">
                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6">
                                View Profiles
                            </div>
                            <div class="col-xs-6 text-right">
                                <i class="fa fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa fa-envelope fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p class="announcement-heading">0</p>

                            <p class="announcement-text">Messages to read!</p>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6">
                                Go to mailbox
                            </div>
                            <div class="col-xs-6 text-right">
                                <i class="fa fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-search"></i> Last queries</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <span class="badge">just now</span>
                            <i class="fa fa-check"></i> Calendar updated
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="badge">4 minutes ago</span>
                            <i class="fa fa-check"></i> Commented on a post
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="badge">23 minutes ago</span>
                            <i class="fa fa-check"></i> Order 392 shipped
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="badge">46 minutes ago</span>
                            <i class="fa fa-check"></i> Invoice 653 has been paid
                        </a>
                    </div>
                    <div class="text-right">
                        <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-group"></i> Accounts that can be choose</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <span class="pull-right"><i class="fa fa-check" style="color:green"></i></span>
                            <i class="fa fa-facebook"></i> Facebook
                        </a>

                        <a href="#" class="list-group-item">
                            <span class="pull-right"><i class="fa fa-check" style="color:green"></i></span>
                            <i class="fa fa-google-plus"></i> Google
                        </a>

                        <a href="#" class="list-group-item">
                            <span class="pull-right"><i class="fa fa-ban" style="color:red"></i></span>
                            <i class="fa fa-twitter"></i> Twitter
                        </a>

                        <a href="#" class="list-group-item">
                            <span class="pull-right"><i class="fa fa-check" style="color:green"></i></span>
                            <i class="fa fa-rss"></i> RSS
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="pull-right"><i class="fa fa-ban" style="color:red"></i></span>
                            <i class="fa fa-linkedin"></i> Linkedin
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scriptextra %}

    $('#menu_dashboard').addClass('active');

{% endblock scriptextra %}