{% extends 'baseAuth.html' %}
{% block content %}
<h3>Login</h3>
<hr>
<form action="/accounts/login" method="post">{% csrf_token %}

    {%  if form.non_field_errors %}
    <div class="alert alert-danger">
            <div class="text-danger">{{ form.non_field_errors }}</div>
        </div>
    {% endif %}
    <div class="form-group">
        <label for="username_login">Username</label><div class="text-danger">{{ form.username_login.errors }}</div>
        <input id="username_login" name="username_login" class="form-control" value="{{ request.POST.username_login }}"
               type="text" placeholder="Type your username">

    </div>
    <div class="form-group">
        <label for="password_login">Password</label><div class="text-danger">{{ form.password_login.errors }}</div>
        <input id="password_login" name="password_login" class="form-control" value="{{ request.POST.password_login }}"
               type="password" placeholder="Type your password">
    </div>
    <input class="btn btn-info" type="submit" value="Login" onclick="return validateLoginForm(this.form);">
    <a class="btn btn-info" href="/accounts/register">Create MyFeedsEngine Account</a>
    <hr>
    <a class="btn btn-primary" href="http://www.facebook.com/dialog/oauth/?client_id=388207784642528&redirect_uri=http://localhost:8000/accounts/facebook&scope=email,user_about_me,read_stream">Facebook</a>
    <a class="btn btn-danger" href="https://accounts.google.com/o/oauth2/auth?response_type=code&redirect_uri=http://localhost:8000/accounts/google&client_id=230193286070.apps.googleusercontent.com&scope=https://www.googleapis.com/auth/userinfo.profile+https://www.googleapis.com/auth/userinfo.email+https://www.googleapis.com/auth/youtube.readonly+https://www.googleapis.com/auth/plus.stream.read+https://www.googleapis.com/auth/plus.profiles.read+https://www.googleapis.com/auth/plus.circles.read+https://www.googleapis.com/auth/plus.login">Google</a>
</form>
{% endblock content %}

