{% extends "base.html" %}
{% load url from future %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block content_title %}
    <h2>Profile</h2>
{% endblock content_title %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_safe '<i class="fa fa-user"></i> Profile'  "profile" %}
    {% breadcrumb user.username "user_prfile" user.id %}
{% endblock %}

{% block content %}
<div class="row">
<form>
<div class="col-md-4">

        <div class="form-group">
            <label>First Name</label>
            <input class="form-control"  type="text" value="{{ user.first_name }}" disabled>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input class="form-control" type="text" value="{{ user.last_name }}" disabled>
            </div>
        <div class="form-group">
            <label>E-Mail</label>
            <input class="form-control"  type="email" value="{{ user.email }}" disabled>
        </div>
        <div class="form-group">
            <label>First Name</label>
            <input class="form-control"  type="text" value="{{ user.first_name }}" disabled>
        </div>
        <button class="btn btn-info"><i class="fa fa-pencil"></i> Edit</button>
        <button class="btn btn-danger" type="submit"><i class="fa fa-save"></i> Save</button>

    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Picture</label><br />
            <img src="{% static "images/profile.jpg" %}" class="img-rounded " width="130px">
            </div>
    </div>
    </form>
</div>
{% endblock %}