{% extends "base.html" %}
{% load url from future %}
{% load django_bootstrap_breadcrumbs %}

{% block content_title %}
    <h2>Project</h2>
{% endblock content_title %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_safe '<i class="fa fa-puzzle-piece"></i> Project'  "project" %}
{% endblock %}

{% block content %}

    <div class="row ">
        <div class="well col-md-offset-2 col-md-7 ">

        <h1>My Feeds Engine</h1>
        <hr>
        <p>The project was made for the discipline Arquiteturas Distribuídas.</p>
        <p>
            It's a platform that allows to aggregate feeds (data) from several sources (social, networks, RSS file) in order to:
            <ul>
                <li>Authenticate with different accounts (Facebook, Google, etc.)</li>
                <li>Associate accounts to the user</li>
                <li>Collect data and index it</li>
                <li>Search</li>
                <li>Create aggregation profiles</li>
                <li>Get extra data based on the query (more like this)</li>
            </ul>

        </p>
            <br />
            <p>Enjoy it! <i class="fa fa-smile-o fa-2x"></i></p>
        </div>
    </div>

{% endblock %}