{% extends "base.html" %}
{% load url from future %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block content_title %}
    <h2>Team</h2>
{% endblock content_title %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_safe '<i class="fa fa-trophy"></i> Team'  "team" %}
{% endblock %}

{% block content %}

<div class="row">

    <div class="well col-md-offset-3 col-md-4">
        <div class="row">
            <div class="col-md-3">
                    <img src="{% static "images/joao.jpg" %}" class="img-rounded " width="120px">
                </div>
            <div class="col-md-offset-1 col-md-5">
                <label>Name:</label> João Martins<br />
                <label>N.º:</label> 41904<br />
                <label>Hobby:</label> <i class="fa fa-beer"></i><br />
            </div>
        </div>
    <hr>
        <div class="row">
        <div class="col-md-offset-3 col-md-4">
                <label>Name:</label> Rui Mendes<br />
                <label>N.º:</label> 67012<br />
                <label>Hobby:</label> <i class="fa fa-beer"></i>
            </div>
        <div class="col-md-4">

            <img src="{% static "images/rui.JPG" %}" class="img-rounded" width="150px">
        </div>
        </div>
        </div>
        </div>
    <div class="row">
    <div class="col-md-offset-4 col-md-4">
        <br />
        <p>Hell yeah! <i class="fa fa-smile-o fa-2x"></i></p>
    </div>
    </div>


</div>
{% endblock %}