{%  extends 'baseAuth.html' %}
{%  block content %}
    {% if error %}
        <div class="row">
            <div class="col-lg-12 alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Error!</strong> {{ error_message }}
            </div>
        </div>
     {% endif %}
    {% if not request.user.is_authenticated  %}
    <h2>New account?</h2>
    <p>We have no record of that account in our database!</p>
    <hr>
    <p><b>It's the first time im logging in!</b></p>
    <hr>
    <form action="/accounts/associate" method="post">{% csrf_token %}
        <button class="btn btn-danger">Register</button>
        <input id="act" name="act" type="hidden" value="register">
    </form>
    <hr>
    {% endif %}
    <p><b>Associate this account with my MyFeeds account!</b></p>
    <hr>
    <form action="/accounts/associate" method="post">{% csrf_token %}
        <div class="form-group">
            <label>MyFeeds username</label>
            <input id="username_login" name="username_login" class="form-control" type="text" placeholder="Type your username" value="{{ request.user.username }}">
        </div>
        <div class="form-group">
            <label>MyFeeds password</label>
            <input id="password_login" name="password_login" class="form-control" type="password" placeholder="Type your password">
        </div>
        <input id="act" name="act" type="hidden" value="associate">
        <input class="btn btn-info" type="submit" value="Associate account">
    </form>
{% endblock content %}