{% extends "base.html" %}
{% load url from future %}
{% load django_bootstrap_breadcrumbs %}

{% block content_title %}
    <h2>Accounts</h2>
{% endblock content_title %}

{% block breadcrumbs %}

    {{ block.super }}
    {% breadcrumb "Accounts" "accounts" %}

{% endblock %}

{% block content %}

    <div class="row col-lg-12 hide" id="div_error_accounts">
        <div class="col-lg-6 alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong><i class="fa fa-frown-o"></i> Error!</strong> <span id="div_error_accounts_message">An error occurred. Please, try later.</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr class="active">
                    <th>Account</th>
                    <th>Status</th>
                    <th>Permissions Test</th>
                    <th>Status</th>
                    <th>Option</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="vertical-align:middle;">Facebook</td>
                    {% if accs.facebook %}
                        <td style="vertical-align:middle;"><span class="label label-success"><i class="fa fa-check"></i> Associated</span>
                        </td>
                        <td style="vertical-align:middle;"><a href="#" style="color: white;" onclick="testefb();">
                            <button class="btn btn-info"><i
                                    class="fa fa-caret-square-o-right"></i> Test
                            </button>
                        </a></td>
                        <td style="vertical-align:middle;" id="statusfb"><span class="label label-warning">Not tested yet</span>
                        </td>
                        <td style="vertical-align:middle;">
                            <button class="btn btn-danger"
                                    onclick="if(confirm('Are you sure that you want to remove the account and the data?')) { remove_account('facebook');} else {return false;}">
                                <i class="fa fa-minus-square"></i> Remove account
                            </button>
                        </td>
                    {% else %}
                        <td style="vertical-align:middle;">
                            <button class="btn btn-info"><a style="color: white;"
                                                            href="http://www.facebook.com/dialog/oauth/?client_id=388207784642528&redirect_uri=http://localhost:8000/accounts/facebook&scope=email,user_about_me,read_stream"><b>Connect</b></a>
                            </button>
                        </td>
                        <td style="vertical-align:middle;"><span class="label label-warning">You have to associate an account before testing.</span>
                        </td>
                        <td style="vertical-align:middle;"></td>
                        <td></td>
                    {% endif %}
                </tr>
                <tr>
                    <td style="vertical-align:middle;">Google</td>
                    {% if accs.google %}
                        <td style="vertical-align:middle;"><span class="label label-success"><i class="fa fa-check"></i> Associated</span>
                        </td>
                        <td style="vertical-align:middle;"><a href="#" style="color: white;" onclick="testego();">
                            <button class="btn btn-info"><i
                                    class="fa fa-caret-square-o-right"></i> Test
                            </button>
                        </a></td>
                        <td style="vertical-align:middle;" id="statusgo"><span class="label label-warning">Not tested yet</span>
                        </td>
                        <td style="vertical-align:middle;">
                            <button class="btn btn-danger"
                                    onclick="if(confirm('Are you sure that you want to remove the account and the data?')) { remove_account('google');} else {return false;}">
                                <i class="fa fa-minus-square"></i> Remove account
                            </button>
                        </td>
                    {% else %}
                        <td style="vertical-align:middle;">
                            <button class="btn btn-info"><a style="color: white;"
                                                            href="https://accounts.google.com/o/oauth2/auth?response_type=code&redirect_uri=http://localhost:8000/accounts/google&client_id=230193286070.apps.googleusercontent.com&scope=https://www.googleapis.com/auth/userinfo.profile+https://www.googleapis.com/auth/userinfo.email+https://www.googleapis.com/auth/youtube.readonly+https://www.googleapis.com/auth/plus.stream.read+https://www.googleapis.com/auth/plus.profiles.read+https://www.googleapis.com/auth/plus.circles.read+https://www.googleapis.com/auth/plus.login"><b>Connect</b></a>
                            </button>
                        </td>
                        <td style="vertical-align:middle;"><span class="label label-warning">You have to associate an account before testing.</span>
                        </td>
                        <td style="vertical-align:middle;"></td>
                        <td></td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <form method="POST" action="/accounts/rssupload" enctype="multipart/form-data">{% csrf_token %}
                <div class="form-group">
                    <label for="rss">RSS File Upload</label>
                    <input name="rss" id="rss" type="file">
                </div>
                <input class="btn btn-info" type="submit" value="Upload"
                       onclick="return validateUploadRSSFile(this.form);">
            </form>
        </div>
    </div>
    <br />
    <div class="row">

    {% if accs.rss %}
        <div class="col-md-2">
         <span class="btn btn-danger" onclick="if(confirm('Are you sure that you want to remove the file and the data?')) { remove_account('rss');} else {return false;}"> <i class="fa fa-minus-square"></i> Remove file</span>
        </div>
    {% endif %}
    {% if error %}
        <div class="col-md-4">
         <span class="label label-danger">{{ error_message }}</span>
        </div>
    {% endif %}
    {% if accs.rss %}
        <div class="col-md-4">
        <span class="label label-success">You already have a file uploaded @ {{ rssdate }}</span>
        </div>
    {% endif %}
    </div>

{% endblock %}

{% block scriptextra %}

    $('#menu_accounts').addClass('active');
    function testefb(){
    $.ajax({
    url: "/accounts/testfb",
    cache: false,
    success: function(html){
    $("#statusfb").html(html);
    }
    });
    }

    function testego(){
    $.ajax({
    url: "/accounts/testgo",
    cache: false,
    success: function(html){
    $("#statusgo").html(html);
    }
    });
    }
    {#    function remove_account(account){#}
    {#        $.ajax({#}
    {#          url: "http://localhost:8000/accounts/remove",#}
    {#          type: POST,#}
    {#          cache: false,#}
    {#          data: 'account':account,#}
    {#          success: function(html){#}
    {#          console.log('remove account');#}
    {#              document.write('/accounts);#}
    {#          },#}
    {#          error: {#}
    {#            console.log('error remove account');#}
    {#        }#}
    {#        });#}
    {#    }#}

    function remove_account(account) {

    $.ajax({
    url: "/accounts/remove",
    type: "POST",
    data: {
    account: account,
    csrfmiddlewaretoken: '{{ csrf_token }}'
    },

    success: function(result) {
    console.log('remove account');
    window.location.href = ('/accounts');
    },
    error: function (e) {
    console.log("error sss");
    $("#div_error_accounts_message").html('An error occurred. Please, contact an administrator!');
    $("#div_error_accounts").addClass('show');
    },
    timeout: 10000
    });
    }

{% endblock scriptextra %}