{% load url from future %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MyFeeds</title>

    <link rel="stylesheet" href="{% static "sb-admin/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "sb-admin/css/sb-admin.css" %}">
    <link rel="stylesheet" href="{% static "sb-admin/font-awesome/css/font-awesome.min.css" %}">

    <style>
        body{
            padding-top: 50px;
        }
    </style>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MyFeedsEngine</a>

        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right navbar-user">
                <li><a href="/project"><i class="fa fa-puzzle-piece"></i> Project</a></li>
                <li><a href="/team"><i class="fa fa-beer"></i> Team</a></li>
                <li><a href="/project" target="_blank"><i class="fa fa-dashboard"></i> Admin</a></li>
            </ul>
        </div>


        <div class="collapse navbar-collapse">
        </div><!--/.nav-collapse -->
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            {%  block content %}{% endblock content %}
        </div>
    </div>


{% block footer %}
    <div class="row" style="margin-top: 50px; border-top: 1px solid #eeeeee; padding: 10px;">
        <div class="footer_custom">
            <div class="col-md-12">
                <p class="text-center text-muted credit">MyFeedsEngine &copy; 2013 | Powered by <a href="mailto:jpmartins@ua.pt">JMartins</a> & <a href="mailto:ruidamendes@ua.pt">RMendes</a></p>
            </div>
        </div>
    </div>
{% endblock footer %}

</div>
<!-- Modal Loading Image-->
<div id="loadingImage" class="modal">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-body">
                <br />
                <p style="text-align: center">
                    <img src="{% static "images/ajax-loader.gif" %}" alt="Loading..." />
                    <br />Loading...
                </p>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->

<!-- Modal Error message-->
<div id="errorModal" class="modal">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Status message</h4>
              </div>
            <div class="modal-body">
                <div id="errorContentModal" class="text-center alert alert-danger"></div>
            </div>
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
{#                </div>#}
        </div>
    </div>
</div>
<!-- /.modal -->

<!-- Modal Success message-->
<div id="successModal" class="modal">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Status message</h4>
              </div>
            <div class="modal-body">
                <div id="successContentModal" class="text-center alert alert-success"></div>
            </div>
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
{#                </div>#}
        </div>
    </div>
</div>
<!-- /.modal -->
<script type="text/javascript" src="{% static "js/jquery-1.10.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "sb-admin/js/bootstrap.js" %}"></script>
<script type="text/javascript" src="{% static "js/authentication.js" %}"></script>
{#<script src="{% static "sb-admin/js/morris/chart-data-morris.js" %}"></script>#}
{#<script src="{% static "sb-admin/js/tablesorter/jquery.tablesorter.js" %}"></script>#}
{#<script src="{% static "sb-admin/js/tablesorter/tables.js" %}"></script>#}

{% if status == 'success' %}
    <script type="text/javascript">
    console.log("Registration has succeded!");
    showModalMessage('success', 'Registration has succeded!');

    </script>
{% endif %}
{% if status == 'error' %}
    <script type="text/javascript">
        showModalMessage('error','An error occurred! Please try later!');
    </script>
{% endif %}
</body>
</html>