{% extends 'baseAuth.html' %}
{% load url from future %}
{% block content %}
<h3>Register your account</h3>
<hr>
<form action="/accounts/register" method="post">{% csrf_token %}
    {%  if form.non_field_errors %}
    <div class="alert alert-danger">
            <label>Errors:</label><br /><div class="text-danger">{{ form.non_field_errors }}</div>
        </div>
    {% endif %}

    <div class="form-group">
        <label for="username">MyFeeds username</label><div class="text-danger">{{ form.username.errors }}</div>
        <input id="username" name="username" class="form-control" value="{{ request.POST.username }}" type="text" placeholder="Type your username">

    </div>
    <div class="form-group">
        <label for="password">MyFeeds password</label><div class="text-danger">{{ form.password.errors }}</div>
        <input id="password" name="password" class="form-control" value="{{ request.POST.password }}" type="password" placeholder="Type your password">
    </div>
    <div class="form-group">
        <label for="password2">MyFeeds password (repeat)</label><div class="text-danger">{{ form.password2.errors }}</div>
        <input id="password2" name="password2" class="form-control" value="{{ request.POST.password2 }}" type="password" placeholder="Repeat your password">
    </div>
    <div class="form-group">
        <label for="first_name">First name</label><div class="text-danger">{{ form.first_name.errors }}</div>
        <input id="first_name" name="first_name" class="form-control" value="{{ request.POST.first_name }}" type="text" placeholder="Type your first name">
    </div>
    <div class="form-group">
        <label for="last_name">Last name</label><div class="text-danger">{{ form.last_name.errors }}</div>
        <input id="last_name" name="last_name" class="form-control" value="{{ request.POST.last_name }}" type="text"  placeholder="Type your last name">
    </div>
    <div class="form-group">
        <label for="email">E-Mail</label><div class="text-danger">{{ form.email.errors }}</div>
        <input id="email" name="email" class="form-control" value="{{ request.POST.email }}" type="text" placeholder="Type your E-Mail">
    </div>
    <input class="btn btn-info" type="submit" onclick="return validateRegisterForm(this.form);" value="Register">
{#    <input class="btn btn-info" type="submit" value="Register">#}
{#    <input class="btn btn-default" type="reset" value="Clean" onclick="clearRegistrationForm(this.form);">#}
</form>

{% endblock content %}